 <div class="account-container">
        <span class="container-text-header">{{account.type}}</span>
        <div class="row">
            <span class="balance">${{account.balance}}</span>
            <button class="white-button" (click)="openDialog('Deposit')"> Deposit </button>
            <button class="white-button" (click)="openDialog('Withdraw')">Withdraw</button>
        </div>

    @if(messageModal.showModal)
    {
        <app-confirmation-modal [modalData]="ModalData" (message_modal)="messageModal = $event"></app-confirmation-modal>
    }
    @if (messageModal.showMessage)
    {
        <app-message [message]="messageModal.message" (showMessage)="messageModal.showMessage = $event"></app-message>
    }
</div>