 <div class="account-container">
    <div class="header-row">
        <span class="container-text-header">{{account.type}}</span>
        <app-button [buttonData]="buttonData" (isClicked)="removeAccount()"></app-button>
        </div>
        <div class="row">
            <span class="balance">${{account.balance}}</span>
            <button class="white-button" (click)="openModal('Deposit')"> Deposit </button>
            <button class="white-button" (click)="openModal('Withdraw')">Withdraw</button>
        </div>

    @if(showModal)
    {
        <app-confirmation-modal [toViewData]="toViewData" (toReturn)="manageToReturn($event)" ></app-confirmation-modal>
    }
    @if (showMessage)
    {
        <app-message [message]="message" (showMessage)="showMessage = $event"></app-message>
    }
</div>