<div class="transfer">
<span class="title">Transfer</span>
<div class="card container large-card">

<form action="post" class="form">

    <label for="from" class="text">From</label>
    <select id="from" class="input">
        <!-- Options -->
    </select>

    <label for="to" class="text">To</label>
    <input type="text" class="input" id="to">

    <label for="amount" class="text">amount</label>
    <input type="number" class="input" id="amount" placeholder="  $0">
    
    <button class="submet-button text">Send</button>
</form>
</div>
</div>