.main {
  display: flex;
  height: 100vh;
}

app-dashboard , app-accounts , app-transfer , app-transactions{
  flex: 3;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

app-sidebar{
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 300px;
}


    @media (max-width: 600px)
    {
        app-sidebar{
        display: none;
        }
    }
