.container{
    padding: 20px 20px 0 20px;
    margin: 20px;
    display: flex;
    align-items: center;
}
.column{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.column .password{
    margin-top: 5px;
    font-size: 40px;
}

.container .white-button{
    margin-bottom: 20px;
}