:host{
  flex: 3;
  overflow-y: scroll;
}
.dashboard{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.containers-row {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 25px;
  align-content: start;
  margin: 0 25px;
}

app-transactions , app-total-balance , app-recent-activities{
    flex: 1;
}

app-accounts-container{
    flex: 1;
    margin: 25px;
}